* {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  background-color: #020204;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.navbar__language,
.navbar__telephone {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar__language--inactive {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.navbar__language--inactive:hover,
.navbar__telephone-link:hover,
.navbar__menu-link:hover,
.footer__menu-link:hover,
.footer__contacts-link:hover {
  color: #c7a17a;
}

.navbar__language--active {
  text-decoration: none;
  color: #c7a17a;
}

.navbar__telephone-link {
  text-decoration: none;
  color: #fff;
}

.navbar__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  min-width: 347px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 36px 0;
}

.navbar__menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar__menu-link--active {
  color: #c7a17a;
}

.navbar__logo {
  width: 58px;
}

.navbar__actions {
  min-width: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__actions-cart {
  display: flex;
  align-items: flex-start;
}

.separator {
  border: none;
  background: #32323d;
  height: 1px;
}
/* endregion */

/* Intro */
.intro {
  position: relative;
  padding: 200px 0;
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 4, 0.55);
  z-index: 0;
}

.intro__content {
  position: relative;
  max-width: 571px;
  z-index: 1;
}

.intro__title {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 35px;
}

.intro__description {
  color: #dfdfdf;
  font-size: 18px;
  margin: 0;
  padding-bottom: 35px;
}

.intro__buy-button,
.intro__read-button {
  padding: 16px 51px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.intro__buy-button {
  border: none;
  background: #c7a17a;
  margin-right: 20px;
}

.intro__read-button {
  border: 1px solid #666681;
  background: rgba(199, 161, 122, 0);
}
/* endregion */

/* Banner */
.banner {
  margin-top: 100px;
}

.banner__content {
  display: flex;
}

.banner__image {
  position: relative;
}

.banner__image::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background: rgba(0, 0, 0, 0.5);
}

.banner__text {
  padding: 30px 72px 42px 30px;
  border-radius: 0 10px 10px 0;
  background: #14141d;
}

.banner__title {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
}

.banner__description {
  color: #dfdfdf;
  font-size: 18px;
  margin: 0;
}
/* endregion */

/* Products */
.products {
  margin: 80px 0;
}

.products__catalog {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: 0;
}

.products__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
  border-radius: 10px;
  background: #14141d;
  width: 386px;
  height: 372px;
}

.product-card:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.product-card:hover {
  background: #22222f;
}

.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 42px 0;
}

.product-card__title {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
  padding-left: 20px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 20px 20px;
}

.product-card__price--new {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 30px;
}

.product-card__price--old {
  color: #818181;
  font-size: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}
/* endregion */

/* News */
.news {
  margin: 80px 0;
}

.news__name {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.news__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  width: 386px;
  min-height: 475px;
  border-radius: 10px;
  background: #14141d;
}

.news-card__info {
  padding: 20px;
}

.news-card__title {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.news-card__description {
  color: #dfdfdf;
  font-size: 16px;
  margin: 0;
}
/* endregion */

/* Footer */
.footer {
  padding: 80px 0;
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-img {
  padding-right: 4px;
}

.footer__logo-name {
  color: #f8dabf;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.footer__menu,
.footer__contacts {
  list-style-type: none;
  margin: 0;
}

li.footer__contacts-item:not(:last-child),
li.footer__menu-item:not(:last-child) {
  padding-bottom: 20px;
}

.footer__menu-link,
.footer__contacts-link {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
/* endregion */

.cards {
  margin-top: 100px;
}

.cards__title {
  margin: 0;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
}

.card {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.card-image {
  border-radius: 10px;
  background: #14141d;
  padding: 60px 292px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  background: #14141d;
}

.card-info__price--new {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 30px;
}

.card-info__price--old {
  color: #818181;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.card-info__size {
  display: flex;
  gap: 10px;
}

.card-info__size-btn {
  color: #fff;
  background: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

.card-info__size-btn:hover {
  color: #c7a17a;
  border: 2px solid #c7a17a;
}

.card-info__btn {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  background: #c7a17a;
  padding: 14px 0;
  text-align: center;
}
/* endregion */

/* Description */
.description {
  margin-top: 80px;
}

.description-title {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 144%;
  text-transform: uppercase;
}

.description-info {
  list-style-type: disc;
  margin: 0;
  padding: 30px 30px 30px 60px;
  margin-top: 32px;
  border-radius: 10px;
  background: #14141d;
}

.description-info__item {
  color: #dfdfdf;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
