{% extends 'layouts/default.html' %} {% block cart %}
<section class="cart">
  <div class="container">
    <div class="cart-container">
      <div class="cart-item">
        <h2 class="cart-item__title">Cart</h2>
        <div class="cart-item__content">
          <div class="cart-item__info">
            <img
              src="../img/product-small-1.png"
              alt=""
              class="cart-item__image"
            />
            <div class="cart-item__details">
              <h4 class="cart-item__name">Lavazza Crema E Gusto</h4>
              <span class="cart-item__size">XL</span>
              <div class="cart-item-dropdown">
                <select name="" id="" class="cart-item-dropdown__select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <img
                  src="../img/chevron-down.svg"
                  alt="Icon: chevron-down"
                  class="cart-item-dropdown__icon"
                />
              </div>
            </div>
          </div>
          <div class="cart-item__price">
            <img
              src="../img/delete.svg"
              alt="Icon: delete"
              class="cart-item__delete"
            />
            <span class="cart-item__new-price">$19.99</span>
          </div>
        </div>
        <div class="cart-item__content">
          <div class="cart-item__info">
            <img
              src="../img/product-small-1.png"
              alt=""
              class="cart-item__image"
            />
            <div class="cart-item__details">
              <h4 class="cart-item__name">Lavazza Crema E Gusto</h4>
              <span class="cart-item__size">XL</span>
              <div class="cart-item-dropdown">
                <select name="" id="" class="cart-item-dropdown__select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <img
                  src="../img/chevron-down.svg"
                  alt="Icon: chevron-down"
                  class="cart-item-dropdown__icon"
                />
              </div>
            </div>
          </div>
          <div class="cart-item__price">
            <img
              src="../img/delete.svg"
              alt="Icon: delete"
              class="cart-item__delete"
            />
            <span class="cart-item__new-price">$19.99</span>
          </div>
        </div>
        <div class="cart-item__content">
          <div class="cart-item__info">
            <img
              src="../img/product-small-1.png"
              alt=""
              class="cart-item__image"
            />
            <div class="cart-item__details">
              <h4 class="cart-item__name">Lavazza Crema E Gusto</h4>
              <span class="cart-item__size">XL</span>
              <div class="cart-item-dropdown">
                <select name="" id="" class="cart-item-dropdown__select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <img
                  src="../img/chevron-down.svg"
                  alt="Icon: chevron-down"
                  class="cart-item-dropdown__icon"
                />
              </div>
            </div>
          </div>
          <div class="cart-item__price">
            <img
              src="../img/delete.svg"
              alt="Icon: delete"
              class="cart-item__delete"
            />
            <span class="cart-item__new-price">$19.99</span>
          </div>
        </div>
      </div>
      <!-- /.cart-item -->

      <div class="cart-window">
        <div class="cart-window__price-info">
          <span>Price:</span>
          <span>$19.99</span>
        </div>
        <div class="cart-window__delivery-info">
          <span>Delivery:</span>
          <span>$10.00</span>
        </div>
        <div class="cart-window__total-info">
          <span>Total price:</span>
          <span>$29.99</span>
        </div>
        <div class="cart-window__checkout">
          <button class="cart-window__button">Checkout</button>
        </div>
      </div>
      <!-- /.cart-window -->
    </div>
    <!-- /.cart-container -->
  </div>
  <!-- /.container -->
</section>
<!-- /.cart -->
{% endblock %}
